/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
 body {
	background-color: black;
    background-image: linear-gradient(black, #850000);
	font-family: "Roboto", Helvetica, sans-serif;
	font-size: 12pt;
}
   
h1 {
    text-align: center;
    font-family: "Sail", sans-serif;
    color: white;
    font-size: 3em;
    text-shadow: 1px 1px 3px black, 0 0 25px white, 0 0 15px darkgray;
}
    
h2 {
    text-align: center;
    color: #a3a3a3;
}

h3 {
    text-align: center;
    color: #e9e9e9;
}

article {
    padding: 1em 1em 1em 1em;
    margin: 1.5em 1.5em 1.5em 1.5em;
    border-radius: 7.5px;
    background-color: #000000;
    color: #d1d1d1;
    display: inline-block;
	width: 27%;
}

h3.titart {color:#fd9380;}

a {
    color: rgb(255, 0, 0);
    text-align: center;
    text-decoration: none;
}

#imtitle {width: 100%;}

.footer {text-align: center;}

.linkfoot {margin:15px;}
